.gallery-hover {
    cursor: pointer;
}

.gallery-hover>.position-absolute {
    opacity: 0;
    transition: all 0.5s ease;
}


.gallery-hover:hover>.position-absolute {
    opacity: 1;
    backdrop-filter: brightness(90%);
    // background-color: $warning;

}